
<template>
    <style>
        button{
            width: 100%;
        }

        #btnControl{
            display: none;
            width: 100%;
            justify-content: center;
        }

        table tr{  
           width: 100%;
        }

    </style>

    <div class="form-base">
        <h1>Análise de Frota</h1>

        <fieldset>
            <legend>Busca Por:</legend>
            <div class="inline">
                <input type="text" id="edtBusca"placeholder="Digite sua Busca" onkeypress="return getEnter(event, 'btnBusca')">
                <select id="cmbBusca">
                    <option value="true" signal="="  val="true">Todos</option>
                    <option value="E.nome" signal="LIKE">Cliente</option>
                    <option value="E.id" signal="=">Código do Cliente</option>
                    <option value="A.num_carro" signal="LIKE">Num. do Carro</option>
                    <option value="A.id" signal="=">Cod.</option>
                </select>
                <select id="cmbExec">
                    <option value="1">Todos</option>
                    <option value="2">Executados</option>
                    <option value="3" selected>Não Executados</option>
                </select>
                <button id="btnBusca">Busca</button>
            </div>
            <div class="inline center-itens">
                <div class="ckBOX">
                    <label for="ckbData">Por data</label>
                    <input type="checkbox" id="ckbData" checked>
                </div>
                <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
                <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
            </div>


        </fieldset>

        <table id="tblAnaFrota"></table>
        <div class="inline" id="btnControl">
            <button id="btnRelat">Reltório</button>
            <button id="btnOrc">Orçamento</button>
        </div>

    </div>

</template>
<script>
    document.querySelector('#edtIni').value = today.getFormatDate(-7)
    document.querySelector('#edtFin').value = today.getFormatDate(7)

    document.querySelector('#btnBusca').addEventListener('click',()=>{

        const sel = document.querySelector('#cmbBusca')
        const field = sel.value
        const signal = sel.options[sel.selectedIndex].getAttribute('signal')
        const ckb = document.querySelector('#ckbData').checked
        let value = sel.options[sel.selectedIndex].hasAttribute('val') ? sel.options[sel.selectedIndex].getAttribute('val') : document.querySelector('#edtBusca').value.trim()
        value = signal=='LIKE' ? `"%${value}%"` : sel.value=='true'? sel.value : `"${value}"`

        const tbl = document.getElementById('tblAnaFrota')
        const params = new Object;
            params.field = field
            params.signal = signal
            params.value = value
            params.ini = ckb ? document.querySelector('#edtIni').value : '2000-01-01';
            params.fin = ckb ? document.querySelector('#edtFin').value : '2100-12-31';

        const myPromisse = queryDB(params,18);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);                
                document.querySelector('#btnControl').style.display = json.length > 0 ? 'flex' : 'none'
                tbl.head('Cod.|mobHide,Cliente,Carro,Visita.,Exec.|mobHide,Valor R$|mobHide')                                             
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id|mobHide,fantasia,num_carro,data_analise,exec|mobHide,valor|mobHide','int,Upp,str,date,change 0=NÃO 1=SIM .=,R$.')
                }                               
            }        
        })
    })

    document.querySelector('#tblAnaFrota').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        openHTML('viewAnaFrota.html','pop-up','Editar Análise de Frota',data)

    })

    document.querySelector('#btnRelat').addEventListener('click',()=>{
        anaFrotaRelat(document.getElementById('tblAnaFrota'))
    })

    document.querySelector('#btnOrc').addEventListener('click',()=>{
        anaFrotaOrc(document.getElementById('tblAnaFrota'))
    })


</script>