
<template>
    <style>
        button{
            width: 100%;
        }

        #fdsRelat{
            display: none;
        }

        table tr{  
           width: 100%;
        }

    </style>

    <div class="form-base">
        <h1>Análise de Frota</h1>

        <fieldset>
            <legend>Busca Por:</legend>
            <div class="inline">
                <select id="cmbBusca">
                    <option value="true" signal="="  val="true">Todos</option>
                    <option value="E.nome" signal="LIKE">Cliente</option>
                    <option value="E.id" signal="=">Código do Cliente</option>
                    <option value="A.num_carro" signal="LIKE">Num. do Carro</option>
                    <option value="A.id" signal="IN">Cod.</option>
                </select>
                <input type="text" id="edtBusca"placeholder="Digite sua Busca" onkeypress="return getEnter(event, 'btnBusca')">
                <select id="cmbExec">
                    <option value="0,1" selected>Todos</option>
                    <option value="1">Executados</option>
                    <option value="0">Não Executados</option>
                </select>
                <button id="btnBusca">Busca</button>
            </div>
            <div class="inline center-itens">
                <div class="ckBOX">
                    <label for="ckbData">Por data</label>
                    <input type="checkbox" id="ckbData" checked>
                </div>
                <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
                <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
            </div>


        </fieldset>

        <table id="tblAnaFrota"></table>

        <fieldset id="fdsRelat">
            <legend>Relatórios</legend>
            <div class="inline">
                <label for="edtTitle">Título</label>
                <input type="text" id="edtTitle" placeholder="Título do relatório" value="Análise de Frota">
                <label for="edtObj">Objeto</label>
                <input type="text" id="edtObj" class="mob-wide" value="Carro" style="width: 200px;">
                <label for="edtFont">Fonte</label>
                <input type="text" id="edtFont" class="mob-wide" onkeyup="return valFloat(this,0)" value="11" style="width: 80px;">
                <label for="edtCor">Cor</label>
                <input type="color" id="edtCor" class="mob-wide" style="width: 80px;">
                <label for="edtDesc">Desconto</label>
                <input type="text" id="edtDesc"  class="mob-wide" style="width: 200px;" onkeyup="return valFloat(this)" value="0">
            </div>

            <div class="inline">
                <label for="edtObs">Obs:</label>
                <textarea id="edtObs" cols="30" rows="10"></textarea>
            </div>
            <div class="inline">
                <label for="edtRodape">Rodapé:</label>
                <textarea id="edtRodape" cols="30" rows="3"></textarea>
            </div>

            <div class="inline">            
                <button id="btnRelat">Reltório</button>
                <button id="btnOrc">Orçamento</button>
            </div>
    
        </fieldset>


    </div>

</template>
<script>
    
    getConfig('config').then((txt)=>{    
        const json =  JSON.parse(txt)
        document.querySelector('#edtObs').value = json.ana_frota
    })

    document.querySelector('#edtIni').value = today.iniMonth()
    document.querySelector('#edtFin').value = today.finMonth()

    document.querySelector('#btnBusca').addEventListener('click',()=>{

        const sel = document.querySelector('#cmbBusca')
        const field = sel.value
        const signal = sel.options[sel.selectedIndex].getAttribute('signal')
        const ckb = document.querySelector('#ckbData').checked
        let value = sel.options[sel.selectedIndex].hasAttribute('val') ? sel.options[sel.selectedIndex].getAttribute('val') : document.querySelector('#edtBusca').value.trim()
        value = signal=='LIKE' ? `"%${value}%"` : signal=='IN' ? `(${value})` : sel.value=='true'? sel.value : `"${value}"`

        const tbl = document.getElementById('tblAnaFrota')
        const params = new Object;
            params.field = field
            params.signal = signal
            params.value = value
            params.ini = ckb ? document.querySelector('#edtIni').value : '2000-01-01';
            params.fin = ckb ? document.querySelector('#edtFin').value : '2100-12-31';
            params.exec = document.querySelector('#cmbExec').value

        const myPromisse = queryDB(params,18);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);                
                document.querySelector('#fdsRelat').style.display = json.length > 0 ? 'block' : 'none'
                tbl.head('Cod.|mobHide,Cliente,Carro,Visita.,Exec.|mobHide,Valor R$|mobHide')                                             
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id|mobHide,fantasia,num_carro,data_analise,exec|mobHide,valor|mobHide','int,Upp,str,date,change 0=NÃO 1=SIM .=,R$.')
                }                               
            }        
        })
    })

    document.querySelector('#tblAnaFrota').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        openHTML('viewAnaFrota.html','pop-up','Editar Análise de Frota',data)

    })

    document.querySelector('#tblAnaFrota').addEventListener('contextmenu',(e)=>{
        window.event.returnValue = false;
        data = e.target.parentNode.data
        data.analise = data.id
        data.mode = 'add'

        if(data.exec=='1'){
            if(data.serv_exec=='0'){
                if(confirm('Deseja lançar em Serviços Executados?')){
                    openHTML('viewServExec.html','pop-up','Serviços Executado sobre Análise de Frota',data)
                }
            }else{
                alert(`Análise já transformada, verificar Serviços Executado cod. ${data.serv_exec}`)
            }
        }

    })

    document.querySelector('#btnRelat').addEventListener('click',()=>{
        main_data.anafrota.data = new Object
        main_data.anafrota.data.desc = parseFloat(document.querySelector('#edtDesc').value)
        main_data.anafrota.data.cor = document.querySelector('#edtCor').value
        main_data.anafrota.data.objeto = document.querySelector('#edtObj').value
        main_data.anafrota.data.rodape = document.querySelector('#edtRodape').value
        main_data.anafrota.data.fontsize = parseFloat(document.querySelector('#edtFont').value)
        main_data.anafrota.data.showdata = document.querySelector('#ckbData').value
        main_data.anafrota.data.data_ini = document.querySelector('#edtIni').value
        main_data.anafrota.data.data_fin = document.querySelector('#edtFin').value
        carrosRelat(document.getElementById('tblAnaFrota'),'AnaFrota' )
    })

    document.querySelector('#btnOrc').addEventListener('click',()=>{
        main_data.anafrota.data = new Object
        main_data.anafrota.data.desc = parseFloat(document.querySelector('#edtDesc').value)
        main_data.anafrota.data.cor = document.querySelector('#edtCor').value
        main_data.anafrota.data.objeto = document.querySelector('#edtObj').value
        main_data.anafrota.data.rodape = document.querySelector('#edtRodape').value
        main_data.anafrota.data.fontsize = parseFloat(document.querySelector('#edtFont').value)
        main_data.anafrota.data.showdata = document.querySelector('#ckbData').value
        main_data.anafrota.data.data_ini = document.querySelector('#edtIni').value
        main_data.anafrota.data.data_fin = document.querySelector('#edtFin').value
        carrosRelat(document.getElementById('tblAnaFrota'), 'AnaFrotaOrc')
    })


</script>