
<template>
    <style>
        button{
            width: 98%;
        }

    </style>
  
    <div class="form-base">
        <h1>Configurações</h1>
        <fieldset>
            <legend>Centro de Custo</legend>
            <div class="inline">
                <input type="text" id="edtCusto" onkeyup="number(this)">
                <button id="btnCusto">Salvar</button>
            </div>
        </fieldset>
        <fieldset>
            <legend>Unidades</legend>
            <table id="tblUnd"></table>
            <button id="btnUnd">Novo</button>
        </fieldset>   
        
    </div>

</template>
<script>
    
    fillUnd()

    getConfig('config').then((txt)=>{
        const json =  JSON.parse(txt)
        document.querySelector('#edtCusto').value = parseFloat(json.centro_custo).toFixed(2)
    })

    function fillUnd(){
        const tbl = document.getElementById('tblUnd')
        tbl.innerHTML = ''
        const params = new Object;
            params.hash = localStorage.getItem('hash');

        const myPromisse = queryDB(params,8);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);
                tbl.head('Nome,Sigla')
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'nome,sigla')
                }                
            } 
        })
    }

    document.querySelector('#tblUnd').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        openHTML('viewUnd.html','pop-up','Editar Unidades',data,73)
    })

    document.querySelector('#btnUnd').addEventListener('click',()=>{
        const data = new Object
        data.mode = 'new'
        openHTML('viewUnd.html','pop-up','Nova Unidade',data,73)

    })

    document.querySelector('#btnCusto').addEventListener('click',()=>{
        const custo = document.querySelector('#edtCusto')
        getConfig('config',custo.value,'centro_custo')
    })

</script>