<template>

    <style>
        @import url("style/menu.css");     
        
        body{
            background-image: url('assets/wallpaper_03.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-blend-mode: hard-light;
            background-position: center;
        }        

        #content-screen{
            margin-top: 80px;
        }


    </style>
    
    <nav>
        <div id="logo"><img src="assets/logo.png" alt="" id="imgLogo"></div>
        <label for="drop" class="toggle">&#9776;</label>
        <input type="checkbox" id="drop" />
        <ul class="menu"></ul>
        <ul class="usr-menu">
            <li>
                <p id="usr-name"></p>
                <ul>
                    <li> <a href="javascript:openHTML('viewUser.html','pop-up','Dados do Usuário',{'mode':'user','id':localStorage.getItem('id'),'user':localStorage.getItem('username'),'email':localStorage.getItem('email'),'nome':localStorage.getItem('nome'),'cel':localStorage.getItem('cel'),'class':localStorage.getItem('access')})">Perfil</a></li>
                    <li> <a href="javascript:openHTML('configUser.html','pop-up','Configuração de Sistema')">Config.</a></li>
                    <li> <a href="javascript:localStorage.clear();this.location.reload(true);">Logout</a></li>
                </ul>


<!--                <div onclick="javascript:openHTML('viewUser.html','pop-up','Dados do Usuário',{'mode':'user','id':localStorage.getItem('id'),'user':localStorage.getItem('username'),'email':localStorage.getItem('email'),'nome':localStorage.getItem('nome'),'cel':localStorage.getItem('cel'),'class':localStorage.getItem('access')})"></div>-->
            </li>
        </ul>


    </nav>

    <div id="content-screen"></div>
    
</template>
<script>

    openMenu()
    main_data.dashboard.wallpaper = ()=>{
        getConfig(localStorage.getItem('username')).then((json)=>{
            main_data.dashboard.data = JSON.parse(json)
            if(main_data.dashboard.data.hasOwnProperty('wallpaper')){
                document.querySelector('body').style.backgroundImage = `url(${main_data.dashboard.data.wallpaper})`
            }
        })
    } 

    main_data.dashboard.wallpaper()
    
    document.querySelector('#imgLogo').addEventListener('click',()=>{
        document.querySelector('#content-screen').innerHTML = ''
    })


</script>