
<template>
    <style>


    </style>

<fieldset>
    <legend id="lgdItem"></legend>

    <div class="inline">
        <label for="edtQtd">Qtd</label>
        <input type="text" id="edtQtd" onkeyup="return valFloat(this,0)">
        <label for="edtPreco">Preço</label>
        <input type="text" id="edtPreco" onkeyup="return valFloat(this)">
    </div>
    <div class="inline">
        <button id="btnSaveItem">Salvar</button>
        <button id="btnDelItem">Deletar</button>
    </div>
</fieldset>


</template>
<script>
//    main_data.addProd= getModalData('edtProd')
//  console.log(localData)
    document.querySelector('#lgdItem').innerHTML = main_data.edtProd.data.descricao
    document.querySelector('#edtQtd').value = main_data.edtProd.data.qtd
    document.querySelector('#edtPreco').value = parseFloat(main_data.edtProd.data.preco).toFixed(2)


    document.querySelector('#btnSaveItem').addEventListener('click',()=>{
        const params = new Object;
                params.id = main_data.edtProd.data.id 
                params.id_prod = main_data.edtProd.data.id_prod
                params.id_ped = main_data.edtProd.data.id_ped
                params.qtd = document.querySelector('#edtQtd').value
                params.preco = document.querySelector('#edtPreco').value
                params.und = main_data.edtProd.data.und
                params.serv = main_data.edtProd.data.serv

            const myPromisse = queryDB(params,32);

            myPromisse.then((resolve)=>{
                if(resolve.trim() != ""){
                    main_data.viewCot.fillItens()
                    closeModal('edtProd')
                }  
            })
    })

    document.querySelector('#btnDelItem').addEventListener('click',()=>{

        if (confirm('Deseja realmente deletar este ítem da cotação?')) {

            const params = new Object;
                params.id = main_data.edtProd.data.id 
                params.hash = localStorage.getItem('hash')

            const myPromisse = queryDB(params,33);

            myPromisse.then((resolve)=>{
                if(resolve.trim() != ""){
                    main_data.viewCot.fillItens()
                    closeModal('edtProd')
                }  
            })
        }    
    
    })


</script>