
<template>
    <style>
        th{
            text-align: center;
        }

        .tr-center td{
            text-align: center;
        }

        .form-table{
            max-width: 1200px;
            overflow: scroll;
        }

        #tblHoras tr{
            font-size: 0.8em; 
            line-height: 10px;           
        }

        #fdsResumo{
            display: none;
        }

        .weekend{
            background-color: #fac4c7 !important;
        }

        .workday{
            background-color: #ffffff !important;
        }

        .workHE{
            background-color: #547ee0 !important;
            color: #e4e4e4;
        }

        .nowork{
            background-color: #b44040 !important;
            color: #e4e4e4;
        }

        .zebra{
            background-color: #e4e4e4 !important;
        }

    </style>

    <div class="form-base">
        <h1>Relógio de Ponto</h1>
        <fieldset>
            <legend>Busca por data</legend>
    
            <div class="inline">
                <select id="cmbBusca">
                    <option value="true" signal="=" val="true" field_2="1" val_2="1">Todos</option>                        
                    <option value="FUNC.nome" signal="LIKE" field_2="1" val_2="1" >Funcionário</option>
                    <option value="CAR.tipo" signal="=" val="HORA" field_2="FUNC.status" val_2="ATIVO" selected>Horista</option>
                    <option value="CAR.tipo" signal="=" val="MENSAL" field_2="FUNC.status" val_2="ATIVO" >Mensalista</option>
                    <option value="FUNC.status" signal="=" val="ATIVOS" field_2="1" val_2="1">Ativos</option>                    
                    <option value="FUNC.status" signal="=" val="DEMIT" field_2="1" val_2="1">Inativos</option>                    
                </select>
                <input type="text" id="edtBusca" placeholder="Digite sua busca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca">Busca</button>
            </div>
            <div class="inline center-itens">
                <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
                <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
            </div>
    
        </fieldset>
        <div class="form-table">
            <table id="tblHoras"></table>
        </div>
        <fieldset id="fdsResumo">
            <legend>Resumo</legend>
            <table id="tblResumo"></table>
        </fieldset>
    </div>

    

</template>
<script>

    class Func {
        constructor(){
            this.hr = 0
            this.he = 0
            this.adn = 0
            this.he_adn = 0
            this.fal = 0
            this.dsr = 0
            this.valor = 0
        }
    }

    Func.prototype.add = function(obj){
        this.hr += (obj.hr/60)
        this.he += (obj.he/60)
        this.adn += (obj.adn/60)
        this.he_adn += (obj.he_adn/60)
        this.fal += (obj.fal/60)
    }

    main_data.horas.data = new Object
    main_data.horas.data.d_uteis = 0
    main_data.horas.data.dom_fer = 0

    const hj = today.getDate()
    while(today.getDate()!=26){
        today.change(-1)
    }
    document.querySelector('#edtIni').value =  today.getFormatDate()
    while(today.getDate()!=25){
        today.change(1)
    }
    document.querySelector('#edtFin').value =  today.getFormatDate()    
    while(today.getDate()!=hj){
        today.change(-1)
    }

    function somaHora(HF,weekday,almoco = true){
        const func = new Func()
        const ent = new Date(HF.entrada)
        const cursor = new Date(HF.entrada)
        const sai = new Date(HF.saida)
        const normal = [0,540,540,540,540,480,0][weekday]
        let status = 'hr'
        
        almoco ? cursor.addMin(60) : 0
        
        function change_status(){
            const hr = cursor.getHours()

            if((func.hr + func.adn) < normal){
                if(hr >= 22 || (hr < 6 && (func.adn + func.he_adn) > 0)){
                    status = 'adn'
                }else if(hr >= 6){
                    status = 'hr'
                }
            }else{
                if(status == 'hr'){
                    status = 'he'
                }
                if(hr >= 22 || (hr < 6 && (func.adn + func.he_adn) > 0)){
                    status = 'he_adn'
                }else if(hr >= 6){
                    status = 'he'
                }
            }
                        
        }

        while(cursor < sai){
            change_status()
            cursor.addMin(5)
            func[status]+=5
        }

        const tot_work = func.hr + func.adn + func.he + func.he_adn

        if((tot_work) < normal){
            func.fal = normal - tot_work
        }

        return func
    }

    function grid(){
        const func = main_data.horas.data.func
        const he = main_data.horas.data.he
        const fer = main_data.horas.data.feriados
        const date_ini = new Date(document.querySelector('#edtIni').value)
        date_ini.change(1)
        const date_fin = new Date(document.querySelector('#edtFin').value)
        date_fin.change(1)
        const date = date_ini
        let weekDay = getWeekDay(date)
        let he_pointer = 0

        function getWeekDay(date){
            let out = date.getDay()
            const dia = date.getDate()
            const mes = date.getMonth() +1            
            for(let h=0; h<fer.length; h++){
                if(dia == fer[h].dia && mes == fer[h].mes){
                    out = 0
                }
            }
            return out
        }

        function fillBlank(D,func){

            function fillWork(){
                if(weekDay == 5){
                    func.horas.hr += 8
                    return `<td id="DEFAULT" data_ent="${D.getFormatDate()}" id_func="${func.id}" nome="${func.nome}">07:00</td><td data_sai="${D.getFormatDate()}">16:00</td>`
                }else{
                    func.horas.hr += 9
                    return `<td id="DEFAULT" data_ent="${D.getFormatDate()}" id_func="${func.id}" nome="${func.nome}">07:00</td><td data_sai="${D.getFormatDate()}">17:00</td>`
                }
            }

            if([0,6].includes(weekDay) || D > today){
                return `<td id="DEFAULT" data_ent="${D.getFormatDate()}" id_func="${func.id}" nome="${func.nome}">00:00</td><td data_sai="${D.getFormatDate()}">00:00</td>`
            }else{
                if(func.status == "ATIVO"){
                    return fillWork()
                }else{
                    const dem = new Date(func.data_dem)
                    dem.change(1)
                    if(D <= dem){
                        return fillWork()
                    }else{
                        return `<td id="DEFAULT" data_ent="${D.getFormatDate()}" id_func="${func.id}" nome="${func.nome}">00:00</td><td data_sai="${D.getFormatDate()}">00:00</td>`
                    }
                }
            }
        }
        
        document.querySelector('#fdsResumo').style.display = func.length>0 ? 'block' : 'none'
        const tbl_resumo = document.querySelector('#tblResumo')
        tbl_resumo.data = func

// cabeçalho        
        const tbl = ['<tr><th colspan="2"></th>','<tr><th colspan="2">DATA</th>']
        tbl_resumo.innerHTML = '<tr><th>Nome</th><th>Horas</th><th>Ad. Not</th><th>H. Extra</th><th>HE+ADN</th><th>Faltas</th></tr>'   
        for(let i=0; i<func.length; i++){
            tbl[0] += `<th colspan="2">${func[i].nome.split(' ')[0]}</th>`
            tbl[1] += '<th>Ent.</th><th>Sai.</th>'
            func[i].horas = new Func()
            const tr = document.createElement('tr')
            tr.className = 'tr-center'
            tr.id = `resumo-${func[i].id}`
            tr.innerHTML = `<th>${func[i].nome.split(' ')[0]}</th><td></td><td></td><td></td><td></td><td></td>`
            tr.data = func[i]
            tr.data.data = date
            tbl_resumo.appendChild(tr)
//            tbl_resumo.innerHTML += `<tr class="tr-center" id="resumo-${func[i].id}"><th>${func[i].nome.split(' ')[0]}</th><td></td><td></td><td></td><td></td><td></td></tr>`
        }
// dias funcionarios
        while(date <= date_fin){
            weekDay = getWeekDay(date)
            weekDay == 0 ? main_data.horas.data.dom_fer++ : main_data.horas.data.d_uteis++
            let tr = [0,6].includes(weekDay) ? `<tr id="${date.getFormatBR()}" class="weekend tr-center">` : [2,4].includes(date.getDay()) ? `<tr id="${date.getFormatDate()}" class="zebra tr-center">` :`<tr id="${date.getFormatDate()}" class="workday tr-center">`
                tr += `${tr}<th>${date.getFormatBR()}</th><th>${semana[date.getDay()]}</th>`
            for(let i=0; i<func.length; i++){
                if(he.length > 0 && he_pointer < he.length){
                    const next = new Date(he[he_pointer].entrada)
                    if(date.getFormatDate() == next.getFormatDate() && he[he_pointer].id_func == func[i].id){

                        const dia = somaHora(he[he_pointer],weekDay)
                        func[i].horas.add(dia)

                        const ent = he[he_pointer].entrada.substring(11,16)
                        const sai = he[he_pointer].saida.substring(11,16)
                        if(dia.fal == 0){
                            tr += `<td id="${he[he_pointer].id}" data_ent="${he[he_pointer].entrada.substring(0,10)}" id_func="${func[i].id}" nome="${func[i].nome}" class="workHE">${ent}</td>`
                            tr += `<td data_sai="${he[he_pointer].saida.substring(0,10)}" class="workHE">${sai}</td>`
                        }else{
                            tr += `<td id="${he[he_pointer].id}" data_ent="${he[he_pointer].entrada.substring(0,10)}" id_func="${func[i].id}" nome="${func[i].nome}" class="nowork">${ent}</td>`
                            tr += `<td data_sai="${he[he_pointer].saida.substring(0,10)}" class="nowork">${sai}</td>`
                        }
                        he_pointer++
                    }else{
                        tr += fillBlank(date,func[i])
                    }
                }else{
                    tr += fillBlank(date,func[i])
                }  
            }
            tbl.push(tr)            
            date.change(1)            
        }

        for(let i=0; i<func.length; i++){
            const row = document.querySelector('#resumo-'+func[i].id)
            row.cells[1].innerHTML = func[i].horas.hr.toFixed(2)
            row.cells[2].innerHTML = func[i].horas.adn.toFixed(2)
            row.cells[3].innerHTML = func[i].horas.he.toFixed(2)
            row.cells[4].innerHTML = func[i].horas.he_adn.toFixed(2)
            row.cells[5].innerHTML = func[i].horas.fal.toFixed(2)
            if(func[i].tipo == 'HORA'){
                 func[i].horas.valor = parseFloat(func[i].salario) * (func[i].horas.hr + (func[i].horas.adn * 1.5) + (func[i].horas.he * 2) + (func[i].horas.he_adn * 2.5)) 
                 func[i].horas.valor = parseFloat(func[i].horas.valor.toFixed(2))
            }else{
                func[i].horas.valor = parseFloat(func[i].salario)
            }
            func[i].horas.dsr = main_data.horas.data.d_uteis/main_data.horas.data.dom_fer

        }

        document.querySelector('#tblHoras').innerHTML =''
        for(let i=0; i<tbl.length; i++){
            document.querySelector('#tblHoras').innerHTML += tbl[i]+'</tr>'
        }         
    }

    main_data.horas.query = ()=>{
        main_data.horas.data.d_uteis = 0
        main_data.horas.data.dom_fer = 0
        const sel = document.querySelector('#cmbBusca')
        const field = sel.value
        const signal = sel.options[sel.selectedIndex].getAttribute('signal')
        let value = sel.options[sel.selectedIndex].hasAttribute('val') ? sel.options[sel.selectedIndex].getAttribute('val') : document.querySelector('#edtBusca').value.trim()
        value = signal=='LIKE' ? `"%${value}%"` : sel.value=='true'? sel.value : `"${value}"`
        const field_2 = sel.options[sel.selectedIndex].getAttribute('field_2')
        const val_2 = sel.options[sel.selectedIndex].getAttribute('val_2')

        const params = new Object;
            params.field = field
            params.signal = signal
            params.value = value
            params.hash = localStorage.getItem('hash')
            params.field_2 = field_2
            params.value_2 = val_2
            params.ini = document.querySelector('#edtIni').value
            params.fin = document.querySelector('#edtFin').value  

        const myPromisse = queryDB(params,56);
        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                main_data.horas.data.func = JSON.parse(resolve);
                const myPromisse_2 = queryDB(params,59)
                myPromisse_2.then((resolve_2)=>{                    
                    main_data.horas.data.he = JSON.parse(resolve_2)
                    const myPromisse_3 = queryDB(params,60)
                    myPromisse_3.then((resolve_3)=>{ 
                        main_data.horas.data.feriados = JSON.parse(resolve_3)
                        grid()
                    })

                })                
            }        
        })
    }

    document.querySelector('#btnBusca').addEventListener('click',()=>{
        if(checkField(['edtIni','edtFin'])){
            main_data.horas.query()
        }
    })

    document.querySelector('#tblHoras').addEventListener('click',(e)=>{
        const cell = e.target
        const row = cell.parentNode
        const index = Array.prototype.indexOf.call(row.children, cell);
        const data = new Object
            data.data = row.id

        if(index%2==0){
            data.hora_ent = row.children[index].innerHTML
            data.data_ent = row.children[index].getAttribute('data_ent')
            data.hora_sai = row.children[index+1].innerHTML
            data.data_sai = row.children[index+1].getAttribute('data_sai')
            data.id_func = row.children[index].getAttribute('id_func')
            data.nome = row.children[index].getAttribute('nome')
            data.id = row.children[index].id
        }else{
            data.hora_ent = row.children[index-1].innerHTML
            data.data_ent = row.children[index-1].getAttribute('data_ent')
            data.hora_sai = row.children[index].innerHTML
            data.data_sai = row.children[index].getAttribute('data_sai')
            data.id_func = row.children[index-1].getAttribute('id_func')
            data.nome = row.children[index-1].getAttribute('nome')
            data.id = row.children[index-1].id
        }

        openHTML('viewHora.html','pop-up','Relógio de Ponto',data,[100,30])
    })

    document.querySelector('#tblResumo').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        data.mode = 'viewProd'
        holerite(data)
    })



</script>