
<template>
    <style>

        #btnDel{
            display: none;
        }

    </style>
  
    <fieldset>
        <legend>Dados da Cotação</legend>
        <div class="inline">
            <label for="edtNumPed">Num. Pedido *</label>
            <input type="text" id="edtNumPed" readonly>
            <label for="edtData">Data *</label>
            <input type="date" id="edtData">             
            <label for="edtDesc">Desconto R$</label>
            <input type="text" id="edtDesc" onkeyup="return valFloat(this)" value="0">             
        </div>        
        <div class="inline">
            <label for="cmbCli">Cliente</label>
            <select id="cmbCli"></select>
        </div>
        <div class="inline">
            <label for="edtCond">Cond. Pgto.</label>
            <textarea id="edtCond" cols="30" rows="10"></textarea>
        </div>
        <div class="inline">
            <label for="edtObs">Obs</label>
            <textarea id="edtObs" cols="30" rows="10"></textarea>
        </div>
        <div class="inline">
            <label for="edtVend">Vendedor</label>
            <input type="text" id="edtVend" readonly>
            <label for="edtComp">Comprador</label>
            <input type="text" id="edtComp">
            <label for="edtEntrega">Entrega</label>
            <input type="date" id="edtEntrega">
        </div>     

        <button id="btnCad">Cadastrar</button>
        <button id="btnDel">Deletar</button>

    </fieldset>


</template>
<script>

    document.querySelector('#edtData').value = today.getFormatDate()
    document.querySelector('#edtEntrega').value = today.finMonth()

    const params = new Object;
        params.hash = localStorage.getItem('hash');
        params.field = 'tipo'
        params.signal = '='
        params.value = 'CLI'     

    fillCombo('cmbCli',params,11,['id','cod_nome'],typeof main_data.newCot.data === 'object' ? main_data.newCot.data.id_emp :'' )

    if(main_data.newCot.data === 'new'){
        getConfig('config').then((txt)=>{    
            const json =  JSON.parse(txt)
            document.querySelector('#edtCond').value = json.cond_pgto
        })        
        const params = new Object;
            params.num_ped = today.getCod()
        const myPromisse = queryDB(params,29);
        myPromisse.then((resolve)=>{
            const last = JSON.parse(resolve)
            const dg = parseInt(last[0].dg) + 1  
            document.querySelector('#edtNumPed').value = today.getCod()+'-'+dg
            document.querySelector('#edtNumPed').readOnly = true             
        })
        document.querySelector('#edtVend').value = localStorage.getItem('nome').trim() == '' ? localStorage.getItem('username') : localStorage.getItem('nome')     
    }else{
        document.querySelector('#edtNumPed').value = main_data.newCot.data.num_ped
        document.querySelector('#edtData').value = main_data.newCot.data.data_ped
        document.querySelector('#edtDesc').value = main_data.newCot.data.desconto
        document.querySelector('#edtObs').value = main_data.newCot.data.obs
        document.querySelector('#edtCond').value = main_data.newCot.data.cond_pgto
        document.querySelector('#edtVend').value = main_data.newCot.data.resp
        document.querySelector('#edtComp').value = main_data.newCot.data.comp
        document.querySelector('#edtEntrega').value = main_data.newCot.data.data_ent
        document.querySelector('#btnDel').style.display = 'block'
        document.querySelector('#btnCad').innerHTML = 'Salvar'
        document.querySelector('#edtNumPed').readOnly = false
    }

    document.querySelector('#btnCad').addEventListener('click',()=>{

        if(checkField(['edtData','edtNumPed'])){
            const params = new Object;
                params.id = main_data.newCot.data === 'new' ? 'DEFAULT' : main_data.newCot.data.id 
                params.id_emp = document.querySelector('#cmbCli').value
                params.data_ped = document.querySelector('#edtData').value
                params.data_ent = document.querySelector('#edtEntrega').value
                params.resp = document.querySelector('#edtVend').value.trim()
                params.comp = document.querySelector('#edtComp').value.trim().toUpperCase()
                params.num_ped = document.querySelector('#edtNumPed').value.trim()
                params.origem = 'SAN'
                params.cond_pgto = document.querySelector('#edtCond').value.trim()
                params.obs = document.querySelector('#edtObs').value.trim()
                params.desconto = document.querySelector('#edtDesc').value
            const myPromisse = queryDB(params,28);
            myPromisse.then((resolve)=>{
                if(main_data.newCot.data == 'new'){
                    const myPromisseLastID = queryDB(params,34)
                    myPromisseLastID.then((resolve)=>{
                        const sel = document.querySelector('#cmbCli')
                        params.mode = 'new'
                        params.fantasia = sel.options[sel.selectedIndex].text
                        const json = JSON.parse(resolve)
                        params.id = json[0].last_ped
                        params.status = 'ABERTO'
                        openHTML('viewCot.html','pop-up','Cotação-'+params.num_ped, params)
                        closeModal()
                    })
                }else{
                    main_data.newCot.data.id_emp = document.querySelector('#cmbCli').value
                    main_data.newCot.data.data_ped = document.querySelector('#edtData').value
                    main_data.newCot.data.data_ent = document.querySelector('#edtEntrega').value
                    main_data.newCot.data.resp = document.querySelector('#edtVend').value.trim()
                    main_data.newCot.data.comp = document.querySelector('#edtComp').value.trim().toUpperCase()
                    main_data.newCot.data.num_ped = document.querySelector('#edtNumPed').value.trim()
                    main_data.newCot.data.origem = 'SAN'
                    main_data.newCot.data.cond_pgto = document.querySelector('#edtCond').value.trim()
                    main_data.newCot.data.obs = document.querySelector('#edtObs').value.trim()
                    main_data.newCot.data.desconto = document.querySelector('#edtDesc').value
                    document.querySelector('#btnBusca').click()
                    main_data.viewCot.open()
                    closeModal()
                }
            })
        }
        
    })


</script>