
<template>
    <style>

        #btnDel{
            display: none;
        }

    </style>
  
    <fieldset>
        <legend>Entrada de Material</legend>
        <div class="inline">
            <label for="edtNF">NF *</label>
            <input type="text" id="edtNF">
            <label for="edtData">Data *</label>
            <input type="date" id="edtData">             
        </div>        
        <div class="inline">
            <label for="cmbForn">Fornecedor</label>
            <select id="cmbForn"></select>
        </div>
        <div class="inline">
            <label for="edtObs">Obs</label>
            <textarea id="edtObs" cols="30" rows="10"></textarea>
        </div>
        <div class="inline">
            <label for="edtResp">Emitido por</label>
            <input type="text" id="edtResp" readonly>
        </div>     

        <button id="btnCad">Cadastrar</button>
        <button id="btnDel">Deletar</button>

    </fieldset>


</template>
<script>

    document.querySelector('#edtData').value = today.getFormatDate()

    const params = new Object;
        params.hash = localStorage.getItem('hash');
        params.field = 'tipo'
        params.signal = '='
        params.value = 'FOR'     

    fillCombo('cmbForn',params,11,['id','cod_nome'],typeof main_data.newComp.data === 'object' ? main_data.newComp.data.id_emp :'' )

    if(main_data.newComp.data === 'new'){
        document.querySelector('#edtResp').value = localStorage.getItem('nome').trim() == '' ? localStorage.getItem('username').toUpperCase() : localStorage.getItem('nome').toUpperCase()
    }else{
        document.querySelector('#edtNF').value = main_data.newComp.data.nf.toUpperCase()
        document.querySelector('#edtData').value = main_data.newComp.data.data_ent
        document.querySelector('#edtObs').value = main_data.newComp.data.obs
        document.querySelector('#edtResp').value = main_data.newComp.data.resp.toUpperCase()
        document.querySelector('#btnDel').style.display = 'block'
        document.querySelector('#btnCad').innerHTML = 'Salvar'
        document.querySelector('#edtNumPed').readOnly = false
    }

    document.querySelector('#btnCad').addEventListener('click',()=>{

        if(checkField(['edtData','edtNF'])){
            const params = new Object;
                params.id = main_data.newCot.data === 'new' ? 'DEFAULT' : main_data.newCot.data.id 
                params.nf = document.querySelector('#edtNF').value
                params.emp_id = document.querySelector('#cmbForn').value
                params.data_ent = document.querySelector('#edtData').value
                params.resp = document.querySelector('#edtResp').value.trim()
                params.status = 'ABERTO'
                params.OBS = document.querySelector('#edtObs').value.trim()
            const myPromisse = queryDB(params,42);
            myPromisse.then((resolve)=>{
                params.mode = 'new'
                params.fantasia = document.querySelector('cmbForn').options[document.querySelector('cmbForn').selectedIndex].text
                openHTML('viewComp.html','pop-up','Entrada de Material',params)

            })
        }        
    })

</script>