
<template>
    <style>


    </style>

    <div class="form-base">
        <h1>NFs Serviço</h1>

        <div class="tab-bar">
            <div class="tab-item" id="tab-emitente" onclick="pictab(this)"> Emitente</div>
            <div class="tab-item" id="tab-fiscal" onclick="pictab(this)">Fiscal</div>
            <div class="tab-item" id="tab-pedido" onclick="pictab(this)">Pedido</div>
            <div class="tab-item" id="tab-cliente" onclick="pictab(this)">Cliente</div>            
            <div class="tab-item" id="tab-itens" onclick="pictab(this)">Itens</div>
            <div class="tab-item" id="tab-fatura" onclick="pictab(this)">Faturamento</div>
            <div class="tab-item" id="tab-export" onclick="pictab(this)">Arquivos TXT</div>
        </div>
        
        <div class="tab-screen">        
            <div id="emitente" class="tab">
                <div id="C">
                    <div class="inline">
                        <label> Razão Social *</label>
                        <input type="text" id="xNome" maxlength="60" />
                    </div>
                    <div class="inline">
                        <label> Nome Fantasia </label>
                        <input type="text" id="xFant" maxlength="60" />
                    </div>    

                    <div class="inline">
                        <label> Insc. Estadual </label>
                        <input type="text" id="IE" maxlength="15" onkeyup="valIE(this)"/>
                        <input type="hidden" id="IEST" >                
                        <label> Insc. Municipal </label>
                        <input type="text" id="IM" maxlength="15" onkeyup="valInt(this)"/>
                    </div> 
                    <div class="inline">
                        <label> Regime Trib. </label>
                        <select id="CRT" >
                          <option value="1" selected>Simples Nacional</option>
                          <option value="2" >Simples Nacional - excesso de sublimite de receita bruta</option>
                          <option value="3" >Regime Normal.</option>
                        </select>
                        <label> CNAE </label>
                        <input type="text" id="CNAE" maxlength="7" onkeyup="valInt(this)"/>                        
                    </div>                                                       
                </div>
                <div id="C02" class="inline">
                    
                    <label> CNPJ </label>
                    <input type="text" id="CNPJ" maxlength="18" onkeyup="valCNPJ(this)"/>
                </div>
                <div id="C05">
                    <div class="inline">
                        <label> Endereço </label>
                        <input type="text" id="xLgr" maxlength="60" />
                        <label> Número: </label>
                        <input type="text" id="nro" maxlength="5" style="max-width: 100px;" />
                    </div>
                    <div class="inline">
                        <label> Bairro </label>
                        <input type="text" id="bairro" maxlength="60" />
                        <label> Complemento </label>
                        <input type="text" id="cpl" maxlength="60" style="max-width: 200px;" />
                    </div>
                    <div class="inline">
                        <label> Municipio</label>
                        <input type="text" id="xMun" maxlength="60" />
                        <label> Código</label>
                        <input type="text" id="cMun" maxlength="7" style="max-width: 150px;" onkeyup="valInt(this)" />
                        <label> Sigla da UF </label>
                        <input type="text" id="UF" maxlength="2" style="max-width: 50px;" />
                    </div>
                    <div class="inline">
                        <label> Nome do País </label>
                        <input type="text" id="xPais" maxlength="60" />
                        <label> Código </label>
                        <input type="text" id="cPais" maxlength="4" onkeyup="valInt(this)"/>
                    </div>
                    <div class="inline">
                        <label> CEP </label>
                        <input type="text" id="CEP" maxlength="8" onkeyup="valCEP(this)"/>
                        <label> Telefone </label>
                        <input type="text" id="fone" maxlength="14" onkeyup="phone(this)"/>
                    </div>
                </div>
                <button id="btnSaveEmit">Salvar</button>
            </div>
            <div id="fiscal" class="tab">
2
            </div>
            <div id="pedido" class="tab">
3
            </div>
            <div id="cliente" class="tab">
4
            </div>
            <div id="itens" class="tab">
5
            </div>
            <div id="fatura" class="tab">
6
            </div>
            <div id="export" class="tab">
7
            </div>
                

        </div>



    </div>



</template>
<script>
    document.querySelector('#tab-emitente').click()



</script>