
<template>
    <style>


    </style>

    <div class="form-base">
        <h1>NFs Serviço</h1>

        <div class="tab-bar">
            <div class="tab-item" id="tab-emitente" onclick="pictab(this)"> Emitente</div>
            <div class="tab-item" id="tab-fiscal" onclick="pictab(this)">Fiscal</div>
            <div class="tab-item" id="tab-pedido" onclick="pictab(this)">Pedido</div>
            <div class="tab-item" id="tab-cliente" onclick="pictab(this)">Cliente</div>            
            <div class="tab-item" id="tab-itens" onclick="pictab(this)">Itens</div>
            <div class="tab-item" id="tab-fatura" onclick="pictab(this)">Faturamento</div>
            <div class="tab-item" id="tab-export" onclick="pictab(this)">Arquivos TXT</div>
        </div>
        
        <div class="tab-screen">        
            <div id="emitente" class="tab">
1
            </div>
            <div id="fiscal" class="tab">
2
            </div>
            <div id="pedido" class="tab">
3
            </div>
            <div id="cliente" class="tab">
4
            </div>
            <div id="itens" class="tab">
5
            </div>
            <div id="fatura" class="tab">
6
            </div>
            <div id="export" class="tab">
7
            </div>
                

        </div>



    </div>



</template>
<script>
    document.querySelector('#tab-emitente').click()



</script>