
<template>
    <style>
        button{
            width: 100%;
        }

        #fdsRelat{
            display: none;
        }

        table tr{  
           width: 100%;
        }

    </style>

    <div class="form-base">
        <h1>Serviços Executados</h1>

        <fieldset>
            <legend>Busca Por:</legend>
            <div class="inline">
                <select id="cmbBusca">
                    <option value="true"   signal="="  val="true">Todos</option>
                    <option value="EMP.fantasia" signal="LIKE">Cliente</option>
                    <option value="EMP.id" signal="=">Código do Cliente</option>
                    <option value="SERV.num_carro" signal="LIKE">Num. do Carro</option>
                    <option value="SERV.nf" signal="IN">NF</option>
                    <option value="SERV.pedido" signal="IN">Pedido</option>
                    <option value="SERV.id" signal="IN">Cod. Serv. Executado</option>
                </select>
                <input type="text" id="edtBusca"placeholder="Digite sua Busca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca">Busca</button>
            </div>
            <div class="inline center-itens">
                <div class="ckBOX">
                    <label for="ckbData">Por data</label>
                    <input type="checkbox" id="ckbData" checked>
                </div>
                <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
                <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
            </div>

        </fieldset>

        <table id="tblServExec"></table>

        <fieldset id="fdsRelat">
            <legend>Relatórios</legend>
            <div class="inline">
                <label for="edtTitle">Título</label>
                <input type="text" id="edtTitle" placeholder="Título do relatório" value="Serviços Executados">
                <label for="edtFont">Fonte</label>
                <input type="text" id="edtFont" class="mob-wide" onkeyup="return valFloat(this,0)" value="11" style="width: 80px;">
                <label for="edtCor">Cor</label>
                <input type="color" id="edtCor" class="mob-wide" style="width: 80px;">
                <label for="edtDesc">Desconto</label>
                <input type="text" id="edtDesc"  class="mob-wide" style="width: 200px;" onkeyup="return valFloat(this)" value="0">
            </div>

            <div class="inline">
                <label for="edtObs">Obs:</label>
                <textarea id="edtObs" cols="30" rows="10"></textarea>
            </div>

            <div class="inline">            
                <button id="btnRelat">Reltório</button>
                <button id="btnOrc">Orçamento</button>
            </div>
    
        </fieldset>


    </div>

</template>
<script>
    
    document.querySelector('#edtIni').value = today.iniMonth()
    document.querySelector('#edtFin').value = today.finMonth()

    document.querySelector('#btnBusca').addEventListener('click',()=>{

        const sel = document.querySelector('#cmbBusca')
        const field = sel.value
        const signal = sel.options[sel.selectedIndex].getAttribute('signal')
        const ckb = document.querySelector('#ckbData').checked
        let value = sel.options[sel.selectedIndex].hasAttribute('val') ? sel.options[sel.selectedIndex].getAttribute('val') : document.querySelector('#edtBusca').value.trim()
        value = signal=='LIKE' ? `"%${value}%"` : signal=='IN' ? `(${value})` : sel.value=='true'? sel.value : `"${value}"`

        const tbl = document.getElementById('tblServExec')
        const params = new Object;
            params.field = field
            params.signal = signal
            params.value = value
            params.ini = ckb ? document.querySelector('#edtIni').value : '2000-01-01';
            params.fin = ckb ? document.querySelector('#edtFin').value : '2100-12-31';

        const myPromisse = queryDB(params,52);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);                
                document.querySelector('#fdsRelat').style.display = json.length > 0 ? 'block' : 'none'
                tbl.head('Cod.|mobHide,Cliente,Carro,Data|mobHide,NF|mobHide,Valor R$|mobHide')                                             
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id|mobHide,fantasia,num_carro,data_exec,nf|mobHide,valor|mobHide','int,Upp,str,date,str,R$.')
                }                               
            }        
        })
    })

    document.querySelector('#tblServExec').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        openHTML('viewServExec.html','pop-up','Editar Serviço Executado',data)

    })

    document.querySelector('#btnRelat').addEventListener('click',()=>{
        main_data.servexec.data = new Object
        main_data.servexec.data.desc = parseFloat(document.querySelector('#edtDesc').value)
        main_data.servexec.data.cor = document.querySelector('#edtCor').value
        main_data.servexec.data.fontsize = parseFloat(document.querySelector('#edtFont').value)
        carrosRelat(document.getElementById('tblServExec'),'ServExec')
    })

    document.querySelector('#btnOrc').addEventListener('click',()=>{
        main_data.servexec.data = new Object
        main_data.servexec.data.desc = parseFloat(document.querySelector('#edtDesc').value)
        main_data.servexec.data.cor = document.querySelector('#edtCor').value
        main_data.servexec.data.fontsize = parseFloat(document.querySelector('#edtFont').value)
        carrosRelat(document.getElementById('tblServExec'),'ServOrc')
    })


</script>