
<template>
    <style>
        .l-data, .l-quit, .l-val{
            width: 150px;
        }

        #edtVal{
            max-width: 150px;
        }
        

    </style>
    
    <div class="frm-vale">

        <fieldset>
            <legend>Novo Vale</legend>
            <div class="inline">
                <label for="edtDesc">Descrição*</label>
                <input type="text" id="edtDesc" maxlength="200">
                <label for="edtVal">Valor*</label>
                <input type="text" id="edtVal" onkeyup="return valFloat(this)">
            </div>
            <div class="inline">
                <button id="btnNovoVale" >Adicionar</button>
            </div>




        </fieldset>

        <fieldset>
            <legend>Histórico</legend>
            <table id="tblVale"></table>

        </fieldset>





    </div>

</template>
<script>

    const data = main_data.vale.data

    console.log(data)

    document.querySelector('#btnNovoVale').addEventListener('click',()=>{
        const val = document.querySelector('#edtVal').value.trim()
        const obs = document.querySelector('#edtDesc').value.trim()

        if(val.length >0 && obs.length>0){
            addVal(0,val,0,obs)         
        }else{
            alert('Favor preencher descrição e valor.')
        }
    })

    document.querySelector('#tblVale').addEventListener('click',(e)=>{
        dt = e.target.parentNode.data

        openHTML('viewVale.html','pop-up',data.nome,dt)

/*
        if(dt.quitado == '0'){
            const val =  parseFloat(prompt(`Quitar:`,parseFloat(dt.valor).toFixed(2)))
            if(val){
                if(val >= parseFloat(dt.valor).toFixed(2)){
                    addVal(dt.id,val,1,dt.obs)
                }else{
                    addVal(dt.id,dt.valor,1,dt.obs)
                    const nval = parseFloat(dt.valor).toFixed(2) -val
                    const nobs = dt.obs.split('(SALDO)')
                    addVal(0,nval,0,`PGTO R$${val} (SALDO) ${nobs[nobs.length-1]}`)
                }
            }
        }
*/
    })

    data.fillVale = ()=>{
        const params = new Object;
            params.id = data.id

        const myPromisse = queryDB(params,78);
        myPromisse.then((resolve)=>{
            const tbl = document.querySelector('#tblVale')
            tbl.innerHTML = ''
            const json = JSON.parse(resolve)
            let tot = 0
            tbl.head('Data|l-data,Descrição,Valor|l-val,Pgto.|l-quit')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'data,obs,valor,quitado','date,Upp,R$.,cha 0=NÃO 1=SIM')
                tot += json[i].quitado == '0' ? parseFloat(json[i].valor) : 0
            }
            tbl.plot(json[0],',,Saldo Devedor,R$'+tot.toFixed(2),'let,let,let,let')
        })
    } 

    function addVal(id,val,quit,obs){

        const params = new Object;
            params.hash = localStorage.getItem('hash')
            params.id = id
            params.id_func = data.id
            params.valor = val
            params.quitado = quit
            params.obs = obs

        const myPromisse = queryDB(params,77);
        myPromisse.then((resolve)=>{
            data.fillVale()
            document.querySelector('#edtVal').value = 0
            document.querySelector('#edtDesc').value = ''
        })
    }


    data.fillVale()


</script>