
<template>
    <style>

        #tblPed{
            font-size: 0.9em;
        }


    </style>
    
    <fieldset id="fdsPed">
        <legend>Pedido</legend>
            <table id="tblPed">
                <tr>
                    <th>Empresa</th><th>Emissão</th><th>Vendedor</th><th>Comprador</th><th>Entrega</th><th>Valor</th>
                </tr>
                <tr>
                    <td id="tdEmp"></td><td id="tdEmi"></td><td id="tdVend"></td><td id="tdComp"></td><td id="tdEnt"></td><td id="tdVal"></td>
                </tr>
            </table>
        <button id="btnEdit">Editar</button>
    </fieldset>
    <fieldset>
        <legend>Ítens</legend>
        <table id="tblItens"></table>
        <button id="btnAdd">Adicionar Ítens</button>
    </fieldset>

</template>
<script>

    document.querySelector('#tdEmp').innerHTML = main_data.fantasia.toUpperCase()
    document.querySelector('#tdEmi').innerHTML = main_data.data_ped != null ? dataBR(main_data.data_ped) : '*'
    document.querySelector('#tdVend').innerHTML = main_data.resp != null ? main_data.resp.toUpperCase() : '*'
    document.querySelector('#tdComp').innerHTML = main_data.comp != null ? main_data.comp.toUpperCase(): '*'
    document.querySelector('#tdEnt').innerHTML = main_data.data_ent != null ? dataBR(main_data.data_ent): '*'
    document.querySelector('#tdVal').innerHTML = main_data.venda != null ? 'R$'+main_data.venda : '*'

    fillItens()

    function fillItens(){
        const params = new Object;
            params.ped_id = main_data.id
        const myPromisse = queryDB(params,30);
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = document.querySelector('#tblItens')
            tbl.head('Cod.,Descrição,Und.,Qtd.,Preço,Sub Total')
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'cod_prod,descricao,und,qtd,preco,total','str,Upp,Upp,str,R$.,R$.')
                }     
        })
    }

    document.querySelector('#btnEdit').addEventListener('click',()=>{

console.log(main_data)

        openHTML('newCot.html','pop-up',(main_data.status=='ABERTO'?'Cotação-':'Pedido-') + main_data.num_ped, main_data,-60, 2)


    })




</script>