
<template>
    <style>

        #tblPed{
            font-size: 0.9em;
        }


    </style>
    
    <fieldset id="fdsPed">
        <legend>Pedido</legend>
        <table id="tblPed">
            <tr>
                <th>Empresa</th><th>Emissão</th><th class="mobHide">Vendedor</th><th  class="mobHide">Comprador</th><th>Entrega</th><th>Valor</th>
            </tr>
            <tr>
                <td id="tdEmp"></td><td id="tdEmi"></td><td id="tdVend"  class="mobHide"></td><td id="tdComp"  class="mobHide"></td><td id="tdEnt"></td><td id="tdVal"></td>
            </tr>
        </table>
        <div class="inline">
            <button id="btnEdit" disabled>Editar</button>
            <button id="btnDel" disabled>Deletar</button>
            <button id="btnFecha" disabled>Encerrar</button>
        </div>
    </fieldset>
    <fieldset>
        <legend>Ítens</legend>
        <table id="tblItens"></table>
        <button id="btnAdd" disabled>Adicionar Ítens</button>
    </fieldset>

</template>
<script>

    const localData = getModalData('viewCot')
    document.querySelector('#btnFecha').innerHTML = localData.status=='FECHADO' ? 'Upload NF' : 'Encerrar'

console.log(localData)
    function open(){
        document.querySelector('#tdEmp').innerHTML = localData.fantasia.toUpperCase()
        document.querySelector('#tdEmi').innerHTML = localData.data_ped != null ? dataBR(localData.data_ped) : '*'
        document.querySelector('#tdVend').innerHTML = localData.resp != null ? localData.resp.toUpperCase() : '*'
        document.querySelector('#tdComp').innerHTML = localData.comp != null ? localData.comp.toUpperCase(): '*'
        document.querySelector('#tdEnt').innerHTML = localData.data_ent != null ? dataBR(localData.data_ent): '*'

        if(localData.status == 'ABERTO'){
            document.querySelector('#btnEdit').disabled = false
            document.querySelector('#btnDel').disabled = false
            document.querySelector('#btnAdd').disabled = false
            document.querySelector('#tblItens').disabled = false
        }
    }

    reload_tab = function fillItens(){
        const params = new Object;
            params.ped_id = localData.id
        const myPromisse = queryDB(params,30);
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            document.querySelector('#btnFecha').disabled = json.length > 0 ? false : true
            const tbl = document.querySelector('#tblItens')
            let tot = 0
            tbl.head('Cod.|mobHide,Descrição,Und.|mobHide,Qtd.,Preço Unit.,Sub Total')            
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'cod_prod|mobHide,descricao,und|mobHide,qtd,preco,total','str,Upp,Upp,str,R$.,R$.')
                tot += parseFloat(json[i].total)
            }
            document.querySelector('#tdVal').innerHTML = viewMoneyBR(tot.toFixed(2))
        })
    }

    open()
    reload_tab()

    document.querySelector('#btnEdit').addEventListener('click',()=>{
        openHTML('newCot.html','pop-up',(localData.status=='ABERTO'?'Cotação-':'Pedido-') + localData.num_ped, localData)
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{
        
        if (confirm('Deseja realmente deletar esta Cotação?')) {            
            const params_itens = new Object;
                params_itens.id_ped = localData.id
                params_itens.hash = localStorage.getItem('hash')

            const myPromisse_item = queryDB(params_itens,33);

            myPromisse_item.then((resolve)=>{
                const params_ped = new Object;
                    params_ped.id = localData.id
                    params_ped.hash = localStorage.getItem('hash')

                const myPromisse_ped = queryDB(params_ped,31);
                myPromisse_ped.then((resolve)=>{
                    if(localData.mode == 'edit'){
                        document.querySelector('#btnBusca').click()
                    }
                    closeModal('all') 
                
                })
               
            })
            
        }                
    })

    document.querySelector('#btnAdd').addEventListener('click',()=>{
        openHTML('addProd.html','pop-up','Adicione um Produto ou Serviço',localData,[100,30])
    })

    document.querySelector('#btnFecha').addEventListener('click',()=>{
        if (confirm('Deseja realmente encerrar esta cotação?')) { 
            const params = new Object;
                params.id = localData === 'new' ? 'DEFAULT' : localData.id 
                params.hash = localStorage.getItem('hash')
                params.status = 'FECHADO'
                
            const myPromisse = queryDB(params,35);
            myPromisse.then((resolve)=>{
                reload_tab()        
            })
        }
        
    })

    document.querySelector('#tblItens').addEventListener('click',(e)=>{
        if(localData.status == 'ABERTO'){
            const data = e.target.parentNode.data
            data.mode = 'edit'
            openHTML('edtProd.html','pop-up','Alteração de Ítem',data)
        }
    })

</script>